# application(s)
backend/*
frontend/*
mobile/*

!backend/Dockerfile.dev
!backend/Dockerfile.prod
!backend/.env.example
!backend/package.json
!frontend/Dockerfile.dev
!frontend/Dockerfile.prod
!frontend/.env.example
!frontend/package.json
!mobile/Dockerfile
!mobile/package.json
!mobile/.env.example



# node
node_modules
npm-debug.log
.env
logs

# production
build
dist

# IDE
.vscode
.DS_Store
*.code-workspace

# docker
*.local
*.production
*.development
docker-compose.override.yml

# amplify
*amplify.*